.track {
    max-width: 100vw;
    height: 200vh;
    margin: 0;
    /* padding: 2rem; */
    text-align: center;
    background-color: skyblue;
    background-image: url("../racetrack.svg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    background-position-x: -100px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
    
    