.track {
    max-width: 100vw;
    height: 200vh;
    margin: 0;
    /* padding: 2rem; */
    text-align: center;
    background-color: skyblue;
    background-image: url("../../../public/start.svg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 15%;
    margin-top: 20%;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    color: black;
    background-color: #f2f2f2;
    border: 15px solid red;
  }
  
  .title {
    font-size: 5em;
    color: black;
  }
  
.subtitle {
    font-size: 2em;
    color: black;
}
  
  