#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 0;
  /* padding: 2rem; */
  text-align: center;
  /* background-color: red; */
}

.container {
  /* display: flex; */
  height: 100%;
  background-color: blue;
}

.title {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: relative;
}
