.car {
    position: fixed;
    top: 13%;
    left: 64%;
    width: 400px;
    height: 800px;
    background-image: url("../../../public/car.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform 0.5s ease-in-out;
    rotate: 180deg;
    animation: none;
  }
  
  .car.active {
    box-shadow: red;
  }
  
  @keyframes zigzag {
    0% {
      transform: translateX(0) rotate(15deg);
    }
    25% {
      transform: translateX(200px) rotate(-15deg);
    }
    50% {
      transform: translateX(-100px) rotate(15deg);
    }
    75% {
      transform: translateX(200px) rotate(-15deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
  }
  