.car {
    position: fixed;
    top: 15%;
    left: 71%;
    width:  10%;
    height: 40%;
    background-image: url("../../../car.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform 0.5s ease-in-out;
    rotate: 180deg;
    animation: none;
    z-index: 100;
  }