.track {
  max-width: 100vw;
  height: 200vh;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  background-color: rgb(115,115,115);
  background-image: url("../racetrack.svg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-position-x: -100px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.message {
  display: flex;
  gap: 50px;
  flex-direction: column;
  height: fit-content;
  max-width: 30%;
  margin-left: 8.5%;
  margin-top: 20%;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
  color: black;
  background-color: #f2f2f2;
  border: 15px solid red;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.messageRight {
  display: flex;
  gap: 50px;
  flex-direction: column;
  height: fit-content;
  max-width: 30%;
  margin-left: 60%;
  margin-top: 20%;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
  color: black;
  background-color: #f2f2f2;
  border: 15px solid red;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 2em;
  color: black;
  margin-bottom: 0;
}

.pic {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0;
}